body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-div {
  overflow-x: auto;
  /* width: 100%; */
  padding-top: 10px;
}

#invoices, #consoles, #games, #tshirts {
  text-align: left;
  width: 100%;
}

#invoices td, #invoices th, #consoles td, #consoles th, #games td, #games td, #tshirts th, #tshirts td{
  border: 1px solid;
  padding: 10px;
}